@import 'tailwindcss';

@config '../../tailwind.config.cjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    font-size: 62.5%;
    line-height: 1.5;
    tab-size: 4;
    height: 100vh;
    background-color: rgb(213, 213, 213);
    overflow-x: hidden;
  }

  html.dark {
    background-color: rgb(0, 0, 0);
  }

  body {
    padding: 0;
    margin: 0;
    line-height: inherit;
    height: 100%;
    background-color: rgb(213, 213, 213);
    overflow-x: hidden;
    overscroll-behavior: none;
    width: 100%;
    max-width: 100vw;
  }

  .dark body {
    background-color: rgb(0, 0, 0);
  }

  #root {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }

  * {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  :root {
    --color-bg: 246 246 246;
    --color-text: 161 161 170;
    --color-primary: 255 255 255;
    --color-secondary: 0 0 0;
    --color-tertiary: 255 255 255;
    --color-quaternary: 100 107 128;
    --color-text-sub: 82 82 91;
    --color-text-heading: 39 39 42;
    --color-border-primary: 34 37 49;
  }

  .dark {
    --color-bg: 0 0 0;
    --color-text: 161 161 170;
    --color-primary: 24 24 27;
    --color-secondary: 0 0 0;
    --color-tertiary: 24 24 27;
    --color-quaternary: 100 107 128;
    --color-text-heading: 244 244 245;
    --color-border-primary: 34 37 49;
  }

  h1 {
    @apply text-h1-mobile tablet:text-h1-desktop;
  }

  p {
    @apply text-body;
  }

  a {
    line-height: 0;
    color: inherit;
    text-decoration: none;
  }

  ul,
  li,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  dd,
  blockquote,
  dl,
  figure,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  pre {
    margin: 0;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    margin: 0;
  }
}
